* {
  button,
  a {
    cursor: pointer;
  }
}

input,
select,
textarea {
  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

@import "./dropdown.scss";
@import "./header.scss";
@import "./login.scss";
@import "./dashboard.scss";
@import "./overview.scss";
@import "./forms.scss";
@import "./orders.scss";
@import "./admin.scss";
@import "./authorization.scss";
@import "./modal.scss";
@import "./tab.scss";
@import "./empty.scss";
@import "./pagination.scss";
@import "./flash.scss";
